/* Colors */
.gray-bg {
  background-color: #ededed !important;
}
.gray-subtle-bg {
  background-color: #f7f7f7 !important;
}
.gray-border {
  border-color: #f3f3f3 !important;
}
.blue-bg {
  background-color: #289eff;
}

/* Typography */
.gray-text {
  color: #787878 !important;
}
.blue-text {
  color: #289eff;
}
.highlight-text {
  font-weight: 500;
}
@media (min-width: 576px) {
  .fs-sm-7 {
    font-size: 14px;
  }
}
@font-face {
  font-family: "KantumruyPro";
  src: url("./assets/fonts/KantumruyPro-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}
@font-face {
  font-family: "FragmentMono-Reguler";
  src: url("./assets/fonts/FragmentMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FragmentMono-Italic";
  src: url("./assets/fonts/FragmentMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
:root {
  --bs-body-font-family: "KantumruyPro", sans-serif;
}
/* Others */
html, section {
  background-color: #fcfcfa !important;
}
.base-background {
  background-color: #fcfcfa !important;
}
.container-mw {
  max-width: 800px !important;
  padding: 0 1.5rem 0 1.5rem;
}
.first-section {
  margin-top: 6rem;
  padding: 4rem 0 4rem 0;
}
.profile-picture {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}
.tech-icon {
  width: 15px;
  height: 15px;
  font-size: 3rem;     
}
.pill-anim {
  transition: filter 0.3s ease, transform 0.3s ease;
}
.pill-anim:hover {
  transform: translateY(-3px); /* slight lift on hover */
}
.shadow-md {
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .15) !important;
}
.my-btn {
  font-weight: 550;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  text-decoration: none;
  border-radius: 1.5rem;
  border: none;
}

/* Bootstrap Overrides*/
.btn-outline-primary {
  color: #289eff !important;
  border-color: #289eff !important;
}
.btn-outline-primary:hover {
  color: white !important;
  background-color: #289eff !important;
  border-color: #289eff !important;
}
.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: black !important;
}